.basicform{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 30px 40px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.labelname, .labelemail, .labelpassword{
    text-decoration: underline;
    color: rgb(255, 0, 200);
}
input{
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
 
}
input:focus{
    border: 3px solid orangered;
}
button{
    padding: 10px 13px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px double black;
    transition: all 0.5s;
    color:yellow;
}
button:hover{
 transform: scale(1.1);
}
p {
    font-size: 12px;
    color: orange;
}
